%header.subhead#overview
  %h2 Containers for Censorship
%section
  = paginate @containers

  %table.table.table-striped.table-bordered.table-condensed.lessons
    %thead
      %tr
        %th
        %th= sortable("id", "ID", @filter)
        %th= sortable("name", "Name", @filter)
        %th= sortable("filmdate", "Filmed", @filter)
        %th= sortable("created_at", "Created", @filter)
        %th= sortable("updated_at", "Updated", @filter)
        %th= sortable("lang", "Language", @filter)
        %th= sortable("secure", "Secure", @filter)
        %th{:colspan => 3} Actions
    %tbody
      -@containers.each do |container|
        %tr
          %td= check_box_tag "cb_#{container.id}", container.id, false, class: 'selected'
          %td{:class => container.marked_for_merge ? 'btn btn-warning' : ''}= container.id
          %td= container.name.truncate(57, :omission => '&hellip;').html_safe
          %td.created= container.filmdate.try(:to_date)
          %td= container.created_at.try(:to_date)
          %td= container.updated_at.try(:to_date)
          %td= container.lang
          %td= display_secure(container.secure)
          %td= link_to 'Show', admin_censorship_path(container)
          %td= link_to 'Clear', clear_admin_censorship_path(container), method: 'post'
          %td= link_to 'Disable Forever', disable_admin_censorship_path(container), method: 'post', :confirm => 'Are you sure?', :class => 'btn-small btn-danger nowrap'
