%header.subhead#overview
  %h2 Containers for Censorship
%section
  = paginate @lessons

  %table.table.table-striped.table-bordered.table-condensed.lessons
    %thead
      %tr
        %th
        %th= sortable("id", "ID", @filter)
        %th= sortable("name", "Name", @filter)
        %th= sortable("filmdate", "Filmed", @filter)
        %th= sortable("created", "Created", @filter)
        %th= sortable("updated", "Updated", @filter)
        %th= sortable("lang", "Language", @filter)
        %th= sortable("secure", "Secure", @filter)
        %th{:colspan => 3} Actions
    %tbody
      -@lessons.each do |lesson|
        %tr
          %td= check_box_tag "cb_#{lesson.id}", lesson.id, false, class: 'selected'
          %td{:class => lesson.marked_for_merge ? 'btn btn-warning' : ''}= lesson.lessonid
          %td= lesson.lessonname.truncate(57, :omission => '&hellip;').html_safe
          %td.created= lesson.filmdate.try(:to_date)
          %td= lesson.created.try(:to_date)
          %td= lesson.updated.try(:to_date)
          %td= lesson.lang
          %td= display_secure(lesson.secure)
          %td= link_to 'Show', admin_censorship_path(lesson)
          %td= link_to 'Clear', clear_admin_censorship_path(lesson), method: 'post'
          %td= link_to 'Disable Forever', disable_admin_censorship_path(lesson), method: 'post', :confirm => 'Are you sure?', :class => 'btn-small btn-danger nowrap'
