%header.subhead#overview
  %h2 Censored Container

%section.well
  = display_show_item('ID', @container.id)
  = display_show_item('Name', @container.name)
  = display_show_item('Type', @container.content_type.try(:name))
  = display_show_item('Created', @container.created_at.to_s(:long_ordinal))
  = display_show_item('Updated', @container.updated_at.to_s(:long_ordinal))
  = display_show_item('Container date', @container.filmdate)
  = display_show_item('Language', @container.language)
  = display_show_item('Lecturer', @container.lecturer)
  = display_show_item('Secure', display_secure(@container.secure), true)
  = display_show_item('Labels', @container.labels.map{|lbl| lbl.display_name}.join(', '))
  = display_show_item('User', @container.user.try(:email))
  - if @container.opened_by_censor?
    = display_show_item('Opened by Censor', @censor_email)
%section
  %strong Descriptions:
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Language
        %th Container Description/Long Description
        %th Created at
        %th Updated at
        %th ID
    %tbody
      - @container.container_descriptions.each do |admin_container_desc|
        - next if (admin_container_desc.container_desc || admin_container_desc.descr).blank?
        %tr
          %td= admin_container_desc.lang
          %td
            = admin_container_desc.container_desc
            - unless admin_container_desc.descr.blank?
              %hr.soften.no-margin
              = admin_container_desc.descr
          %td= admin_container_desc.created_at.try(:to_date)
          %td= admin_container_desc.updated_at.try(:to_date)
          %td= admin_container_desc.id
%section
  %strong Transcripts:
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Language
        %th TOC
        %th Transcript
        %th Created at
        %th Updated at
        %th ID
    %tbody
      - @container.container_transcripts.each do |t|
        - next if (t.transcript).blank?
        %tr
          %td= t.lang
          %td= t.toc.html_safe
          %td
            %a.btn{"data-toggle" => "modal", :href => "#myModal#{t.id}"}
              see transcript
            .modal.hide{:id => "myModal#{t.id}"}
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"} ×
                %h3=t.toc.html_safe
              .modal-body
                %p=t.transcript.html_safe
              .modal-footer
                %a.btn.btn-primary{"data-dismiss" => "modal", :href => "#"} Close
          %td= t.created_at.try(:to_date)
          %td= t.updated_at.try(:to_date)
          %td= t.id


%section
  %strong Catalogs:
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th ID
        %th Name
    %tbody
      - @container.catalogs.each do |catalog|
        %tr
          %td= catalog.id
          %td= catalog.name
%section
  %strong Files:
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th ID
        %th Name
        %th Security
        %th File Size
        %th File Duration
        %th Recorded at
        %th Created on
        %th Updated on
        %th Language
    %tbody
      - @container.file_assets.each do |asset|
        %tr
          %td= asset.id
          %td= link_to asset.name, asset.url, :target => '_blank'
          %td= display_secure asset.secure
          %td= number_to_human_size asset.size
          %td= convert_seconds_to_human_readable asset.playtime_secs
          %td= asset.date.try(:to_date)
          %td= asset.created_at.try(:to_date)
          %td= asset.updated_at.try(:to_date)
          %td= asset.lang
