= simple_form_for [:admin, @catalog], :html => {:class => 'bp'} do |f|
  = f.error_messages

  .catalogs
    .list
      - if @catalog.parentnodeid
        = f.input :parentnodeid, :label => 'Parent',
         :input_html => {"data-pre" => [{:id => @catalog.parent.catalognodeid, :name => @catalog.parent.catalognodename}].to_json}
      - else
        = f.input :parentnodeid, :label => 'Parent'
    = f.input :catalognodename, :label => 'Name'
  %hr.spacer

  .descriptions
    %div(class='all-langs')
      %a(href="javsrcript:" onclick="$('.item-hidden').toggle(); $(this).text($(this).text() == 'Show less languages' ? 'Show more languages' : 'Show less languages'); return false;") Show more languages
    - counter = 0
    = f.simple_fields_for :catalog_descriptions, @catalog_descriptions do |descr_f|
      %div(class = "item#{counter%3} #{counter >= 3 ? 'item-hidden' : ''}")
        = descr_f.input :lang, :as => :hidden
        = descr_f.label descr_f.object.language.to_s
        %br
        = descr_f.input :catalognodename, :as => :text, :label => false
      - counter += 1
  %hr.spacer
  = f.button :submit
