= simple_form_for [:admin, @catalog] do |f|
  = display_actions f, admin_catalog_url
  %hr.soften
  = display_errors f

  .catalogs
    .list
      - if @catalog.parentnodeid
        = f.input :parentnodeid, :label => 'Parent',
         :input_html => {"data-pre" => [{:id => @catalog.parent.catalognodeid, :name => @catalog.parent.catalognodename}].to_json}
      - else
        = f.input :parentnodeid, :label => 'Parent'
    = f.input :catalognodename, :label => 'Name'
  %hr.soften
  = display_descriptions f, @catalog_descriptions, 'catalog_descriptions', 'catalognodename'
  %hr.soften
  = display_actions f, admin_catalog_url