%header.subhead#overview
  %h2 Catalogs
  - if can?(:create, Catalog)
    %p
      = link_to "New Catalog", new_admin_catalog_path, :class => 'btn btn-success btn-large pull-right'

%section
  = paginate @catalogs

  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th= sortable("name", "Catalog")
        %th= sortable("label", "Label")
        %th= sortable("created_at", "Created")
        %th= sortable("updated_at", "Updated")
        %th= sortable("secure", "Secure")
        %th= sortable("visible", "Visibility")
        %th= sortable("open", "State")
        = display_actions_title(Catalog)
    %tbody
      - @catalogs.each do |catalog|
        %tr(class="#{cycle('odd', 'even')}")
          %td
            - if catalog.parent
              %span.small
                = catalog.parent.name.gsub(/\//, ' / ')
                (
                = catalog.parent_id
                ) /
            %span.bold
              = catalog.name.gsub(/\//, ' / ')
              %span.small
                (
                = catalog.id
                )
          %td.small= catalog.label
          %td.small= catalog.created_at.to_date
          %td.small= catalog.updated_at.to_date
          %td= display_secure(catalog.secure)
          %td= catalog.visible ? 'visible' : 'hidden'
          %td= catalog.open ? 'open' : 'closed'
          -if can?(:read, catalog)
            %td
              = link_to 'Show', [:admin, catalog]
          -if can?(:update, catalog)
            %td
              = link_to 'Edit', edit_admin_catalog_path(catalog)
          -if can?(:destroy, catalog)
            %td
              = link_to 'Destroy', admin_catalog_path(catalog), :confirm => 'Are you sure?', :method => :delete, :class => 'btn-small btn-danger'
