- title "Admin/Catalogs"

%p
  = link_to_if can?(:create, Catalog), "New Catalog", new_admin_catalog_path do
    .unable New Catalog
= paginate @catalogs
%br
%table
  %tr
    %th Node ID
    %th Node Name
    %th Parent Node ID
    %th Created
    %th Updated
    %th Cat Order
    %th Secure
    %th(colspan=3) Actions
  - @catalogs.each do |catalog|
    %tr(class="#{cycle('odd', 'even')}")
      %td= catalog.catalognodeid
      %td= catalog.catalognodename.gsub(/\//, ' / ')
      %td= catalog.parentnodeid
      %td= catalog.created
      %td= catalog.updated
      %td= catalog.catorder
      %td= catalog.secure
      %td= link_to 'Show', [:admin, catalog]
      %td
        = link_to_if can?(:update, catalog), 'Edit', edit_admin_catalog_path(catalog) do
          .unable Edit
      %td
        = link_to_if can?(:destroy, catalog), 'Destroy', admin_catalog_path(catalog), :confirm => 'Are you sure?', :method => :delete do
          .unable Destroy
%br
= paginate @catalogs
%br

%p
  = link_to_if can?(:create, Catalog), "New Catalog", new_admin_catalog_path do
    .unable New Catalog
