- title "Admin/Catalog"

%p
  - if @catalog.parent
    = @catalog.parent.catalognodename
    (
    = @catalog.parentnodeid
    ) /
  = @catalog.catalognodename
  (
  = @catalog.catalognodeid
  )
%p
  %strong Created:
  = @catalog.created
%p
  %strong Updated:
  = @catalog.updated

%p
  = link_to "Edit", edit_admin_catalog_path(@catalog)
  |
  = link_to "Destroy", [:admin, @catalog], :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", admin_catalogs_path
