%header.subhead#overview
  %h2 Catalog
  .subnav
    %ul.nav.nav-pills
      -if can?(:update, @catalog)
        %li
          = link_to "Edit", edit_admin_catalog_path(@catalog)
      -if can?(:destroy, @catalog)
        %li
          = link_to "Destroy", admin_catalog_path(@catalog), :class => 'label label-important', :confirm => 'Are you sure?', :method => :delete
      -if can?(:read, @catalog)
        %li
          = link_to "View All", admin_catalogs_path

%section.well
  %p
    %strong Catalog:
    - if @catalog.parent
      = @catalog.parent.catalognodename
      (
      = @catalog.parentnodeid
      ) /
    %span.bold
      = @catalog.catalognodename
      (
      = @catalog.catalognodeid
      )
  = display_show_item('Label', @catalog.label)
  = display_show_item('Visibility', display_visibility(@catalog.visible), true)
  = display_show_item('State', display_catalog_state(@catalog.open), true)
  = display_show_item('Created', @catalog.created.to_s(:long_ordinal))
  = display_show_item('Updated', @catalog.updated.to_s(:long_ordinal))
  = display_show_item('Secure', display_secure(@catalog.secure), true)
  = display_show_item('User', @catalog.user.try(:email))

%section
  %strong Descriptions:
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Language
        %th Catalog Description
        %th Created on
        %th Updated on
        %th ID
    %tbody
      - @catalog.catalog_descriptions.each do |admin_catalog_desc|
        %tr
          %td= admin_catalog_desc.lang
          %td= admin_catalog_desc.catalognodename
          %td= admin_catalog_desc.created.try(:to_date)
          %td= admin_catalog_desc.updated.try(:to_date)
          %td= admin_catalog_desc.catalognodeid

%section
  %strong Containers:
  - if can?(:update, @catalog)
    .pull-right
      %select{:id => 'batch-action'}
        %option{:value => ''}= '-- Select Batch Action --'
        = SECURITY.each do |security|
          %option{:value => "security_#{security[:level]}"}
            Set security to
            = security[:name]
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        - if can?(:update, @catalog)
          %th
            = check_box_tag 'batch-all', 'batch', false
            all
        %th Id
        %th Name
        %th Type
        %th Secure
        %th Language
        %th Updated on
    %tbody
      - @lessons.each do |lesson|
        %tr
          - if can?(:update, @catalog)
            %td
              = simple_form_for [:admin, lesson] do |f|
                = check_box_tag '', 'batch', false, :class => :batch
                = image_tag 'ajax-loader.gif', :class => 'hidden'
          %td= lesson.lessonid
          %td= lesson.lessonname
          %td= lesson.content_type.try(:name)
          %td= display_secure(lesson.secure)
          %td= lesson.language
          %td= lesson.updated

#please-wait.fade.hidden
  %h1 Please wait

:javascript
  var container_id = #{@catalog.id};