%header.subhead#overview
  %h2 Container Description Patterns
  -if can?(:create, ContainerDescriptionPattern)
    %p
      = link_to "New Pattern", new_admin_container_description_pattern_path, :class => 'btn btn-success btn-large pull-right'

%section
  = paginate @container_description_patterns

  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th= sortable("pattern", "Pattern")
        %th= sortable("description", "Description")
        %th= sortable("catalogs.name", "Catalogs")
        %th= sortable("lang", "Lang")
        = display_actions_title(ContainerDescriptionPattern)
    %tbody
      - for container_desc_pattern in @container_description_patterns
        %tr(class="#{cycle('odd', 'even')}")
          %td= container_desc_pattern.pattern
          %td= container_desc_pattern.description
          %td= container_desc_pattern.catalogs.uniq.map{|c| c.name}.join(', ')
          %td= container_desc_pattern.lang
          -if can?(:read, container_desc_pattern)
            %td
              = link_to 'Show', [:admin, container_desc_pattern]
          -if can?(:update, container_desc_pattern)
            %td
              = link_to 'Edit', edit_admin_container_description_pattern_path(container_desc_pattern)
          -if can?(:destroy, container_desc_pattern)
            %td
              = link_to 'Destroy', [:admin, container_desc_pattern], :confirm => 'Are you sure?', :method => :delete, :class => 'btn-small btn-danger'
