%header.subhead#overview
  %h2 Container Description Pattern
  .subnav
    %ul.nav.nav-pills
      %li
        = link_to_if can?(:update, @container_description_pattern), "Edit", edit_admin_container_description_pattern_path(@container_description_pattern) do
          %a.unable Edit
      %li
        = link_to_if can?(:destroy, @container_description_pattern), "Destroy", [:admin, @container_description_pattern], :class => 'label label-important', :confirm => 'Are you sure?', :method => :delete do
          %a.unable Destroy
      %li= link_to "View All", admin_container_description_patterns_path

%section.well
  = display_show_item('Pattern', @container_description_pattern.pattern.gsub(/\s/, '&#9251;'))
  = display_show_item('Description', @container_description_pattern.description)
  = display_show_item('Lang', @container_description_pattern.lang)
  = display_show_item('User', @container_description_pattern.user.try(:email))
%section
  %strong Catalogs:
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th ID
        %th Name
    %tbody
      - @container_description_pattern.catalogs.each do |catalog|
        %tr
          %td= catalog.id
          %td= catalog.name
