%header.subhead#overview
  %h2 Container Description Patterns
  -if can?(:create, LessondescPattern)
    %p
      = link_to "New Pattern", new_admin_lessondesc_pattern_path, :class => 'btn btn-success btn-large pull-right'

%section
  = paginate @lessondesc_patterns

  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Pattern
        %th Description
        %th Catalogs
        %th Lang
        = display_actions_title(LessondescPattern)
    %tbody
      - for lessondesc_pattern in @lessondesc_patterns
        %tr(class="#{cycle('odd', 'even')}")
          %td= lessondesc_pattern.pattern
          %td= lessondesc_pattern.description
          %td= lessondesc_pattern.catalogs.uniq.map{|c| c.catalognodename}.join(', ')
          %td= lessondesc_pattern.lang
          -if can?(:read, lessondesc_pattern)
            %td
              = link_to 'Show', [:admin, lessondesc_pattern]
          -if can?(:update, lessondesc_pattern)
            %td
              = link_to 'Edit', edit_admin_lessondesc_pattern_path(lessondesc_pattern)
          -if can?(:destroy, lessondesc_pattern)
            %td
              = link_to 'Destroy', [:admin, lessondesc_pattern], :confirm => 'Are you sure?', :method => :delete, :class => 'btn-small btn-danger'
