- disabled = cannot? :edit_all_file_asset_fields, @asset

= simple_form_for [:admin, @asset] do |f|
  = display_actions f, admin_file_assets_url
  %hr.soften
  = display_errors f
  .row
    .span6
      = f.input :name, :disabled => disabled, :label => 'Name', :input_html => {:class => 'span5'}
      = f.input :v_filedate, :label => 'Date', :disabled => disabled, :order => [:day, :month, :year], start_year: 1990, end_year: 2020, :input_html => {:class => 'span5'}
      = f.input :asset_type, :disabled => disabled, :label => 'Type', :input_html => {:class => 'span5'}
      = f.input :lang, :collection => @languages, :value_method => :code3, :label_method => :to_s, :label => 'Language', :prompt => '-- Please select language --', :disabled => disabled, :input_html => {:class => 'span5'}
      = f.input :size, :disabled => disabled, :label => 'Size', :input_html => {:class => 'span5'}
      = f.input :playtime_secs, :disabled => disabled, :label => 'Playtime (secs)', :input_html => {:class => 'span5'}
      = f.input :servername, :collection => @servers, :value_method => :servername, :label_method => :to_s, :label => 'Server', :prompt => '-- Please select server --', :disabled => disabled, :input_html => {:class => 'span5'}
      = f.input :status, :disabled => disabled, :label => 'Status', :input_html => {:class => 'span5'}
      = f.input :clicks, :disabled => disabled, :label => 'Clicks', :input_html => {:class => 'span5'}
      = f.input :secure, :collection =>  @security, :prompt => nil, :label => 'Security Level', :disabled => disabled

  %hr.soften
  = display_actions f, admin_file_assets_url
