%header.subhead#overview
  %h2 Files
  -if can?(:create, FileAsset)
    %p
      = link_to "New FileAsset", new_admin_file_asset_path, :class => 'btn btn-success btn-large pull-right'

%section
  = paginate @file_assets

  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
      %th ID
      %th FileAsset name
      %th Recorded at
      %th Created on
      %th Updated on
      %th Language
      = display_actions_title(FileAsset)
    %tbody
      - @file_assets.each do |asset|
        %tr
          %td= link_to asset.fileid, asset.url, :target => '_blank'
          %td= asset.filename
          %td= asset.filedate.try(:to_date)
          %td= asset.created.try(:to_date)
          %td= asset.updated.try(:to_date)
          %td= asset.filelang
          -if can?(:read, @asset)
            %td
              = link_to 'Show', [:admin, asset]
          -if can?(:update, @asset)
            %td
              = link_to "Edit", edit_admin_file_asset_path(asset)
          -if can?(:destroy, asset)
            %td
              = link_to "Destroy", [:admin, asset], :confirm => 'Are you sure?', :method => :delete, :class => 'btn-small btn-danger'
