%header.subhead#overview
  %h2 File
  .subnav
    %ul.nav.nav-pills
      -if can?(:update, @asset)
        %li
          =link_to "Edit", edit_admin_file_asset_path(@asset)
      -if can?(:destroy, @asset)
        %li
          =link_to "Destroy", [:admin, @asset], :confirm => 'Are you sure?', :method => :delete, :class => 'label label-important'
      -if can?(:read, @asset)
        %li
          = link_to "View All Files", admin_file_assets_path
      %li
        - if @asset.containers.first
          = link_to 'Show Container', admin_container_path(@asset.containers.first) #TODO: Display table of lessons in case file can belong to multiple lessons
        - else
          = link_to 'Has no Container', '/#'

%section.well
  = display_show_item 'ID', @asset.id
  = display_show_item 'Name', @asset.name
  = display_show_item 'Created at', @asset.created_at
  = display_show_item 'Updated at', @asset.updated_at
  = display_show_item 'Recording date', @asset.date
  = display_show_item 'Type', @asset.asset_type
  = display_show_item 'Language', @asset.lang
  = display_show_item 'Size', number_to_human_size(@asset.size)
  = display_show_item 'Playtime (secs)', convert_seconds_to_human_readable(@asset.playtime_secs)
  = display_show_item 'Server name', @asset.servername
  = display_show_item 'Status', @asset.status
  = display_show_item 'Last user', @asset.lastuser
  = display_show_item 'Clicks', @asset.clicks
  = display_show_item('Secure', display_secure(@asset.secure), true)
  = display_show_item('User', @asset.user.try(:email))

%section
  %strong Descriptions:
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Language
        %th FileAsset Description
        %th Created at
        %th Updated at
        %th ID
    %tbody
      - @asset.file_asset_descriptions.each do |asset_desc|
        %tr
          %td= asset_desc.lang
          %td= asset_desc.filedesc
          %td= asset_desc.created_at.try(:to_date)
          %td= asset_desc.updated_at.try(:to_date)
          %td= asset_desc.id
