%header.subhead#overview
  %h2 Departments
  %p
    = link_to_if can?(:create, Department), "New Department", new_admin_department_path, :class => 'btn btn-success btn-large pull-right' do
      .unable New Department

%section
  = paginate @departments

  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th ID
        %th Name
    %tbody
      - @departments.each do |d|
        %tr(class="#{cycle('odd', 'even')}")
          %td= d.id
          %td= d.name
          %td
            = link_to_if can?(:show, d), "Show", admin_department_path(d.id) do
              %span.unable Show
          %td
            = link_to_if can?(:update, d), 'Edit', edit_admin_department_path(d) do
              %span.unable Edit
          %td
            = link_to_if can?(:delete, d), 'Destroy', admin_department_path(d), :confirm => 'Are you sure?', :method => :delete do
              %span.unable Destroy

