= simple_form_for ['admin',@lesson] do |f|
  = f.input :lessonname
  = f.input :v_lessondate, :label => 'Date'
  = f.input :lang
  = f.collection_select :lecturerid, Lecturer.all, :lecturerid, :lecturername
  = f.input :secure
  = f.input :catalog_tokens, :label => 'Catalogs', :input_html => {"data-pre" => @lesson.catalogs.map{|c| {:id => c.catalognodeid, :name => c.catalognodename}}.to_json}
  = f.button :submit
