- title "Edit Lesson"
%p
  = link_to "Show", admin_lesson_path(@lesson)
  |
  = link_to "View All", admin_lessons_path

= render 'form'

%p
  = link_to "Show", admin_lesson_path(@lesson)
  |
  = link_to "View All", admin_lessons_path
