- title "Edit Container"
%p
  = link_to "Show", admin_lesson_path(@lesson)
  &nbsp;|&nbsp;
  = link_to "View all Containers", admin_lessons_path

= render 'form'

%p
  = link_to "Show", admin_lesson_path(@lesson)
  &nbsp;|&nbsp;
  = link_to "View all Containers", admin_lessons_path
