%header.subhead#overview
  %h2 Containers
  -if can?(:create, Lesson)
    %p
      = link_to "New Container", new_admin_lesson_path, :class => 'btn btn-success btn-large pull-right'
  %h4.clear Filter:&nbsp;
  .subnav
    %ul.nav.nav-pills
      %li
      = content_tag :li, :class => show_all_selected? do
        = link_to 'All Containers', admin_lessons_path(:filter => 'all')
      = content_tag :li, :class => filtered_selected? do
        = link_to 'Containers to update', admin_lessons_path
      -if can?(:special_admin_features, @lesson)
        = content_tag :li, :class => secure_changed?, :title => 'Security Level changed by operator' do
          = link_to 'Security changed', admin_lessons_path(:filter => 'secure_changed')
        = content_tag :li, :class => no_files?, :title => 'No files associated' do
          = link_to 'Empty', admin_lessons_path(:filter => 'no_files')

%section
  = paginate @lessons

  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th= sortable("lessonid", "ID", @filter)
        %th= sortable("lessonname", "Name", @filter)
        %th= sortable("created", "Created", @filter)
        %th= sortable("updated", "Updated", @filter)
        %th= sortable("lang", "Language", @filter)
        %th= sortable("secure", "Secure", @filter)
        = display_actions_title_for_lessons
    %tbody
      -@lessons.each do |lesson|
        %tr
          %td{:class => lesson.marked_for_merge ? 'btn btn-warning' : ''}= lesson.lessonid
          %td= lesson.lessonname.truncate(57, :omission => '&hellip;').html_safe
          %td= lesson.created.try(:to_date)
          %td= lesson.updated.try(:to_date)
          %td= lesson.lang
          %td= display_secure(lesson.secure)
          %td= link_to 'Show', admin_lesson_path(lesson)
          -if can?(:edit_descriptions, lesson)
            %td
              = link_to 'Edit', edit_admin_lesson_path(lesson)
            %td
              = link_to 'Long Description', edit_long_descr_admin_lesson_path(lesson)
              %br
              = link_to 'Transcript', edit_transcript_admin_lesson_path(lesson)
          -if can?(:destroy, lesson)
            %td
              = link_to 'Destroy', admin_lesson_path(lesson), :confirm => 'Are you sure?', :method => :delete, :class => 'btn-small btn-danger'
