- title "Lessons"
%p= link_to_if can?(:create, Lesson), "New Lesson", new_admin_lesson_path
= paginate @lessons
%br
%table.admin_table.bp
  %thead
    %tr
      %th ID
      %th Name
      %th Created
      %th Updated
      %th Language
      %th Secure
      %th(colspan=3) Actions
  - @lessons.each do |lesson|
    - secure = SECURITY.select{|s| s[:level] == lesson.secure }.first[:name].downcase
    %tr(class="#{cycle('odd', 'even')} #{secure}")
      %td= lesson.lessonid
      %td= lesson.lessonname
      %td.small= lesson.created.try(:to_date)
      %td.small= lesson.updated.try(:to_date)
      %td= lesson.lang
      %td.small= secure
      %td= link_to 'Show', admin_lesson_path(lesson)
      %td= link_to_if(can?(:update, lesson), 'Edit', edit_admin_lesson_path(lesson)) {}
      %td= link_to_if(can?(:destroy, lesson), 'Destroy', admin_lesson_path(lesson), :confirm => 'Are you sure?', :method => :delete) {}
%br

= paginate @lessons
%br
%p= link_to_if can?(:create, Lesson), "New Lesson", new_admin_lesson_path
