- title "Admin/Lessons"
= paginate @lessons
%br
%table.admin_table
  %tr
    %th ID
    %th Name
    %th Created on
    %th Updated on
    %th Language
    %th Secure
    %th(colspan=3) Actions
  - @lessons.each do |lesson|
    %tr
      %td= lesson.lessonid
      %td= lesson.lessonname
      %td= lesson.created.try(:to_date)
      %td= lesson.updated.try(:to_date)
      %td= lesson.lang
      %td= lesson.secure
      %td= link_to 'Show', admin_lesson_path(lesson)
      %td= link_to 'Edit', edit_admin_lesson_path(lesson)
      %td= link_to 'Destroy', admin_lesson_path(lesson), :confirm => 'Are you sure?', :method => :delete
%br
= paginate @lessons
%br
%p= link_to "New Admin/Lesson", new_admin_lesson_path
