- unless @date.blank?
  $('#lesson_v_lessondate_1i').val('#{@date[0]}');
  $('#lesson_v_lessondate_2i').val('#{@date[1]}');
  $('#lesson_v_lessondate_3i').val('#{@date[2]}');
  $('#lesson_v_lessondate_1i').siblings('label').css('color', 'red');
- unless @language.blank?
  $('#lesson_lang').val('#{@language.upcase}');
  $('#lesson_lang').siblings('label').css('color', 'red');
- if @lecturer_id
  $('#lesson_lecturerid').val('#{@lecturer_id}');
  $('#lesson_lecturerid').siblings('label').css('color', 'red');
  $('#lesson_container_type_id').val('#{@container_type_id}');
  $('#lesson_lecturerid').siblings('label').css('color', 'red');
- @descriptions.each do |pattern|
  $('textarea.#{pattern.lang.downcase}').html("#{pattern.description}");
  $('textarea.#{pattern.lang.downcase}').parent().siblings('label').css('color', 'red');
