- unless @date.blank?
  $('#lesson_v_lessondate_1i').val('#{@date[0]}');
  $('#lesson_v_lessondate_2i').val('#{@date[1]}');
  $('#lesson_v_lessondate_3i').val('#{@date[2]}');
  $('#lesson_v_lessondate_1i').parent().siblings('label').css('color', 'red');
- unless @language.blank?
  $('#lesson_lang').val('#{@language.upcase}');
  $('#lesson_lang').parent().siblings('label').css('color', 'red');
- if @lecturer_id
  $('#lesson_lecturerid').val('#{@lecturer_id}');
  $('#lesson_lecturerid').parent().siblings('label').css('color', 'red');
$('#lesson_container_type_id').val('#{@container_type_id}');
$('#lesson_container_type_id').parent().siblings('label').css('color', 'red');
var $descr_pattern;
- @descriptions.each do |pattern|
  $descr_pattern = $('textarea.#{pattern.lang.downcase}');
  if ($descr_pattern.val().length === 0) {
  $descr_pattern.html("#{pattern.description}");
  $descr_pattern.parent().siblings('label').css('color', 'red');
  }
