- title "Admin/Lesson"
%p
  = link_to_if can?(:update, @lesson), "Edit", edit_admin_lesson_path(@lesson) do
    %a.unable Edit
  &nbsp;|&nbsp;
  = link_to_if can?(:destroy, @lesson), "Destroy", edit_admin_lesson_path(@lesson), :confirm => 'Are you sure?', :method => :delete do
    %a.unable Destroy
  &nbsp;|&nbsp;
  = link_to "View All", admin_lessons_path

%p
  %strong id:
  = @lesson.lessonid
%p
  %strong Name:
  = @lesson.lessonname
%p
  %strong Descriptions:
  %table.admin_table
    %thead
      %tr
        %th Language
        %th Lesson Description
        %th Created on
        %th Updated on
        %th ID
    - @lesson.lesson_descriptions.each do |admin_lesson_desc|
      %tr(class="#{cycle('odd', 'even')}")
        %td= admin_lesson_desc.lang
        %td= admin_lesson_desc.lessondesc
        %td= admin_lesson_desc.created.try(:to_date)
        %td= admin_lesson_desc.updated.try(:to_date)
        %td= admin_lesson_desc.lessondescid
%p
  %strong Created:
  = @lesson.created
%p
  %strong Updated:
  = @lesson.updated
%p
  %strong Lesson date:
  = @lesson.lessondate
%p
  %strong Language:
  = @lesson.language
%p
  %strong Lecturer:
  = @lesson.lecturer
%p
  %strong Secure:
  = @secure
%p
  %strong Catalogs:
  %table.admin_table
    %thead
      %tr
        %th ID
        %th Name
    - @lesson.catalogs.each do |catalog|
      %tr(class="#{cycle('odd', 'even')}")
        %td= catalog.catalognodeid
        %td= catalog.catalognodename
%p
  %strong Files:
  %table.admin_table
    %thead
      %tr
        %th ID
        %th Name
        %th Created on
        %th Updated on
        %th Language
        %th(colspan=3) Actions
    - @lesson.assets.each do |asset|
      %tr(class="#{cycle('odd', 'even')}")
        %td= link_to asset.fileid, asset.url, :target => '_blank'
        %td= asset.filename
        %td= asset.created.try(:to_date)
        %td= asset.updated.try(:to_date)
        %td= asset.filelang
        %td= link_to 'Show', [:admin, asset]
        %td
          = link_to_if can?(:update, asset), 'Edit', edit_admin_asset_path(asset) do
            .unable Edit
        %td
          = link_to_if can?(:destroy, asset), 'Destroy', [:admin, asset], :confirm => 'Are you sure?', :method => :delete do
            .unable Destroy


%p
  = link_to_if can?(:update, @lesson), "Edit", edit_admin_lesson_path(@lesson) do
    %a.unable Edit
  &nbsp;|&nbsp;
  = link_to_if can?(:destroy, @lesson), "Destroy", edit_admin_lesson_path(@lesson), :confirm => 'Are you sure?', :method => :delete do
    %a.unable Destroy
  &nbsp;|&nbsp;
  = link_to "View All", admin_lessons_path
