%header.subhead#overview
  %h2 Selected Catalogs
  - if can?(:create, Catalog) && Catalog.count_selected_catalogs < 5
    %p
      = link_to "New Selected Catalog", new_admin_selected_catalog_path, :class => 'btn btn-success btn-large pull-right'
  %h4.clear &nbsp;

%section
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Name
        %th Label
        %th Secure
        %th Visible
        %th Open
        %th Action
    %tbody
      - @catalogs.each do |catalog|
        %tr(class="#{cycle('odd', 'even')}")
          %td
            - if catalog.parent
              %span.small
                = catalog.parent.catalognodename.gsub(/\//, ' / ')
                (
                = catalog.parentnodeid
                ) /
            %span.bold
              = catalog.catalognodename.gsub(/\//, ' / ')
              %span.small
                (
                = catalog.catalognodeid
                )
          %td.small= catalog.label
          %td= display_secure(catalog.secure)
          %td= catalog.visible ? 'visible' : 'hidden'
          %td= catalog.open ? 'open' : 'closed'
          -if can?(:destroy, catalog)
            %td
              = link_to 'Remove', unset_selected_admin_selected_catalog_path(catalog), :confirm => 'Are you sure?', :method => :delete, :class => 'btn-small btn-danger'
