%header.subhead#overview
  %h2 Search results

%section
  - if @results.is_a?(String) || !@results || @results.results.empty?
    - if @results.is_a?(String)
      %h4 Please contact your system administrator:
      = @results
    - else
      No results
  - else
    %h3
      Request:
      =@search.query_string
    %h4.clear== Results #{(@results.results.current_page - 1) * @results.results.limit_value + 1} - #{[@results.results.current_page * @results.results.limit_value, @results.total].min} of #{@results.total}
    = paginate @results.hits, :window => 8

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th ID
          %th Type
          %th Result
          %th Actions
      %tbody
        - @results.each_hit_with_result do |hit, result|
          - klass = result.class
          %tr
            - case
            - when klass == FileAsset
              - asset = result
              %td= asset.id
              %td= link_to 'File', admin_file_asset_path(asset)
              %td= "#{asset.name} (#{asset.size} bytes)"
              %td &nbsp;
            - when klass == Container
              - lesson = result
              %td= lesson.lessonid
              %td= link_to 'Container', admin_lesson_path(lesson)
              %td= lesson.lessonname
              - if can?(:send_to_censor, Container)
                %td= link_to 'Censor', send_to_censor_admin_lesson_path(lesson, filter: @filter, securty: @security), method: 'post'
              - else
                %td &nbsp;
            - when klass == ContainerdescPattern
              - pattern = result
              %td= pattern.id
              %td= link_to 'Containers\' pattern', admin_lessondesc_pattern_path(pattern)
              %td
                = pattern.pattern
                (
                = pattern.lang
                )(
                = pattern.description
                )
              %td &nbsp;
            - when klass == ContainerDescription
              - container_description = result
              %td= container_description.id
              %td
                - if container_description.lesson
                  = link_to 'Container Description', admin_lesson_path(container_description.lesson.id)
                - else
                  Container Description
              %td
                = container_description.lessondesc
                %hr
                = container_description.descr
                (
                = container_description.lang
                )
              %td &nbsp;
            - when klass == CatalogDescription
              - catalog_description = result
              %td= catalog_description.id
              %td
                - if catalog_description.catalog
                  = link_to 'Catalog Description', admin_catalog_path(catalog_description.catalog.id)
                - else
                  Catalog Description
              %td
                = catalog_description.name
                (
                = catalog_description.lang
                )
              %td &nbsp;
            - when klass == Catalog
              - catalog = result
              %td= result.id
              %td= link_to klass, admin_catalog_path(catalog)
              %td
                - if catalog.parent
                  %span.small
                    = catalog.parent.name.gsub(/\//, ' / ')
                    (
                    = catalog.parent_id
                    ) /
                %span.bold
                  = catalog.name.gsub(/\//, ' / ')
                  %span.small
                    (
                    = catalog.id
                    )
              %td &nbsp;
            - else
              %td(colspan=4)= "Unknown: #{klass}"
    = paginate @results.hits, :window => 8
