- title "Search results for #{@results.send(:query)}"
%div
  = @results.results[:total_found]
  records found in
  = @results.results[:time]
  seconds.
  - if @results.results[:total_found] > @results.results[:total]
    Only
    = @results.results[:total]
    were retrieved.
%br
= paginate @results
%br
%table.admin_table.bp
  %thead
    %tr
      %th ID
      %th Type
      %th Name
  - @results.each do |result|
    - klass = result.class
    %tr(class="#{cycle('odd', 'even')}")
      - case
      - when klass == Lesson
        - lesson = result
        %td= lesson.lessonid
        %td= link_to 'Container', admin_lesson_path(lesson)
        %td= lesson.lessonname
      - when klass == LessondescPattern
        - pattern = result
        %td= pattern.id
        %td= link_to 'Containers\' pattern', admin_lessondesc_pattern_path(pattern)
        %td
          = pattern.pattern
          (
          = pattern.lang
          )(
          = pattern.description
          )
      - when klass == LessonDescription
        - lesson_description = result
        %td= lesson_description.lessondescid
        %td= link_to 'Container_Description', admin_lesson_path(lesson_description.lesson.id)
        %td
          = lesson_description.lessondesc
          (
          = lesson_description.lang
          )
      - when klass == Catalog
        - catalog = result
        %td= result.catalognodeid
        %td= link_to klass, admin_catalog_path(catalog)
        %td
          - if catalog.parent
            %span.small
              = catalog.parent.catalognodename.gsub(/\//, ' / ')
              (
              = catalog.parentnodeid
              ) /
          %span.bold
            = catalog.catalognodename.gsub(/\//, ' / ')
            %span.small
              (
              = catalog.catalognodeid
              )

%br
= paginate @results
%br
