= simple_form_for [:admin, @label.dictionary, @label] do |f|
  = display_actions f, admin_dictionary_url(params[:dictionary_id])

  = f.hidden_field :dictionary_id, value: params[:dictionary_id]

  = display_errors f

  %hr.soften
  = display_suid_field f
  %hr.soften
  .row
    %h3 Transcriptions
    = display_descriptions f, @descriptions, 'label_descriptions', 'text'
  %hr.soften
  = display_actions f, admin_dictionary_url(params[:dictionary_id])