%header.subhead#overview
  %h2 Label
  .subnav
    %ul.nav.nav-pills
      -if can?(:update, @label)
        %li
          = link_to "Edit", edit_admin_dictionary_label_path(@label.dictionary, @label)
      -if can?(:destroy, @label)
        %li
          = link_to "Destroy", admin_dictionary_label_path(@label.dictionary, @label), :class => 'label label-important', :confirm => 'Are you sure?', :method => :delete

%section.well
  = display_show_item('ID', @label.id)
  = display_show_item('System name', @label.suid)
  = display_show_item('Created', @label.created_at.to_s(:long_ordinal))
  = display_show_item('Updated', @label.updated_at.to_s(:long_ordinal))
  = display_show_item('Dictionary', link_to("#{@label.dictionary.to_s}", admin_dictionary_path(@label.dictionary)),true)
%section
  %strong Translations:
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Language
        %th Translation
        %th Created at
        %th Updated on
        %th ID
    %tbody
      - @label.label_descriptions.each do |descr|
        %tr
          %td= descr.lang
          %td= descr.text
          %td= descr.created_at.try(:to_date)
          %td= descr.updated_at.try(:to_date)
          %td= descr.id
