<header class="subhead" id="overview"><h2>Sign in</h2></header>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'well form-horizontal'}) do |f| %>
    <%= f.input :email, :label => 'Email', :as => :email, :placeholder => 'Your email here', :input_html => {:class => 'span5'} %>
    <%= f.input :password, :label => 'Password', :as => :password, :input_html => {:class => 'span5'} %>
    <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, :label => 'Remember me', :as => :boolean %>
    <% end -%>
    <div class="form-actions">
        <button class="btn btn-primary btn-large" type="submit" data-disable-with='Please wait...'>Sign in</button>
    </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
