- description = lesson_description(item)
.item.item-list
  .row
    .span1
      .padding-both-8
        = type_of_item(item)
        %hr
        %span.badge.badge-inverse= creation_date(item)
        %hr
        = item_includes(item)
    .span8
      .padding-both
        %h4
          %a{:href => ui_path(item)}
            = item.id
            &nbsp;
            != lesson_title(item, description)
        - available_languages = FileAsset.available_languages(item.file_assets)
        .languages-bar
          %ul.nav.nav-tabs
            %li.tabs-title Available languages:
            - available_languages.each_with_index do |l, idx|
              %li{:class => (idx == 0 ? 'active' : '')}
                %a{:href => "##{l}-#{item.id}", :'data-toggle' => 'tab'}= l.upcase
        .tab-content
          - available_languages.each_with_index do |l, idx|
            .tab-pane.fade.in{:id => "#{l}-#{item.id}", :class => (idx == 0 ? 'active' : '')}
              .pull-left
                %h5 Download:
                = download_items(item, 'video', l)
                = download_items(item, 'audio', l)
                = download_items(item, 'text', l)
                = download_items(item, 'graph', l)
              .pull-left.padding-left
                %h5 View/Play:
                = download_items(item, 'video', l, true)
                = download_items(item, 'audio', l, true)
                = download_items(item, 'text', l, true)
