#content.span9
  = render 'list_header'
  = render 'tags_cloud'
  - if @results.is_a?(String) || !@results || @results.results.empty?
    %h4 No results
  - else
    %h4== Results #{(@results.results.current_page - 1) * @results.results.limit_value + 1} - #{[@results.results.current_page * @results.results.limit_value, @results.total].min} of #{@results.total}

    = paginate @results.hits, :window => 3
    = render :partial => 'item', collection: @results.results
    = paginate @results.hits, :window => 3

