#content.span9
  = render 'list_header', selected_catalogs: @selected_catalogs, boost_tree: @boost_tree
  = render 'tags_cloud'
  - if @results.is_a?(String) || !@results || @results.results.empty?
    %h4.no-results t('ui.content.no_results')
  - else
    %h4= t('ui.content.results', from: (@results.results.current_page - 1) * @results.results.limit_value + 1, to: [@results.results.current_page * @results.results.limit_value, @results.total].min, of: @results.total)

    = paginate @results.hits, :window => 2
    = render :partial => 'item', collection: @results.results
    = paginate @results.hits, :window => 2

