#content.span9
  = render 'list_header'
  = render 'tags_cloud'
  %h4
    Search Results:
    = (@results.results.current_page - 1) * @results.results.limit_value + 1
    \-
    = [@results.results.current_page * @results.results.limit_value, @results.total].min
    of
    = @results.total
  .item.item-list
    .row
      .span1
        .padding-both
          %i.icon-km-big-lesson
          %hr
          %span.badge.badge-inverse 05/08/12
          %hr
          %i.icon-km-small-text
          %i.icon-km-small-video
          %i.icon-km-small-audio
          %i.icon-km-small-image
      .span8
        .padding-both
          %h4
            %a{:href => 'javascript'} Part 4: KFS, pg 21, "The Essence of the asdfkj asdkjfh asdf kjdf Wisdom of Kabbalah"
          .languages-bar
            %ul.nav.nav-tabs
              %li.tabs-title Available languages:
              %li.active
                %a{:href => '#he-itemid', :'data-toggle' => 'tab'} HE
              %li
                %a{:href => '#en-itemid', :'data-toggle' => 'tab'} EN
              %li
                %a{:href => '#es-itemid', :'data-toggle' => 'tab'} ES
              %li
                %a{:href => '#jp-itemid', :'data-toggle' => 'tab'} JP
          .tab-content
            #he-itemid.tab-pane.active.fade.in
              .pull-left
                %h5 Download:
                .btn-group.pull-left
                  .btn.btn-mini WMV
                  .btn.btn-mini FLV
                  .btn.btn-mini MP4
                .btn-group.pull-left
                  .btn.btn-mini WMA
                  .btn.btn-mini MP3
                .btn-group.pull-left
                  .btn.btn-mini TXT
                  .btn.btn-mini DOC
                  .btn.btn-mini PDF
              .pull-left.padding-left
                %h5 View/Play:
                .btn-group.pull-left
                  .btn.btn-mini VIDEO
                  .btn.btn-mini AUDIO
                  .btn.btn-mini TEXT
            #en-itemid.tab-pane.fade b
            #es-itemid.tab-pane.fade c
            #jp-itemid.tab-pane.fade d
  .pagination
    %ul
      %li.page.active
        %a{:href => '#'} Prev
      %li.page
        %a{:href => '#'} 1
      %li.page
        %a{:href => '#'} 2
      %li.page
        %a{:href => '#'} 3
      %li.page
        %a{:href => '#'} 4
      %li.page.gap.disabled
        %a{:href => '#', :onclick => 'return false;'} …
      %li.next_page
        %a{:href => '#'} Next ›
      %li.last.next
        %a{:href => '#'} Last »

  .item
    .padding-both
      %h3.clearfix
        %a.pull-left Last Lesson - 1/2/33
        .pull-right
          %a &lt;
          %a &gt;
      .languages-bar
        %ul.nav.nav-tabs
          %li.tabs-title Available languages:
          %li.active
            %a{:href => '#he-player', :'data-toggle' => 'tab'} HE
          %li
            %a{:href => '#en-player', :'data-toggle' => 'tab'} EN
          %li
            %a{:href => '#es-player', :'data-toggle' => 'tab'} ES
          %li
            %a{:href => '#jp-player', :'data-toggle' => 'tab'} JP
    .tab-content
      #he-player.tab-pane.active.fade.in
        .row
          .span5
            .padding-left
              Lorem ipsum dolor sit amet, impedit civibus epicuri id mel, mucius nonumes complectitur mei ad, veniam verear sed at. Vocent copiosae tincidunt his ea. Vis eu cetero cotidieque, te tale diceret forensibus ius, ad ludus honestatis eam. Ad modus saepe disputationi per, te eam quas gubergren rationibus.
          .span4
            .padding-right
              Lorem ipsum dolor sit amet, impedit civibus epicuri id mel, mucius nonumes complectitur mei ad, veniam verear sed at. Vocent copiosae tincidunt his ea. Vis eu cetero cotidieque, te tale diceret forensibus ius, ad ludus honestatis eam. Ad modus saepe disputationi per, te eam quas gubergren rationibus.
  .item
    .padding-both
      %h3
        Other updates
      .languages-bar
        %ul.nav.nav-tabs
          %li.tabs-title Available languages:
          %li
            %a{:href => '#all-updates', :'data-toggle' => 'tab'} All
          %li.active
            %a{:href => '#he-updates', :'data-toggle' => 'tab'} HE
          %li
            %a{:href => '#en-updates', :'data-toggle' => 'tab'} EN
          %li
            %a{:href => '#es-updates', :'data-toggle' => 'tab'} ES
          %li
            %a{:href => '#jp-updates', :'data-toggle' => 'tab'} JP
      .tab-content
        #he-updates.tab-pane.active.fade.in
  .item
    .padding-both
      %h3
        Item Metadata
      %dl.dl-horizontal
        %dt Item Name
        %dd Part 3: TES, Volume 3, Part 8, Item 42, ohr pnimi, lesson 23
        %dt Item Type
        %dd Lecture
        %dt Date
        %dd 29&#0047;10&#0047;2012
        %dt Description
        %dd>
          Lorem ipsum dolor sit amet, dicant offendit repudiandae ius te, usu ignota urbanitas ne, per iisque recusabo vulputate at. Discere principes ut sea, ei ubique latine cum. Audire nominavi in quo. Vix mutat senserit ex, has ea facer velit timeam, eos ex prima omnes saepe.
          Te stet torquatos omittantur est. Mei tempor elaboraret et, nihil aliquid scaevola an eum. Est idque utroque laboramus ne, per ei homero adipisci sensibus. Ex sit facer indoctum, ius sanctus perpetua ea, sit no munere eloquentiam. Aeque quando quaeque te quo.
          Ne unum corrumpit vis. An nam pericula assentior mediocritatem, in wisi inani impetus sea, te quo veri deleniti moderatius. At quo ullum consetetur argumentum. Ut harum doctus omittam vix.
          Everti consectetuer mea ne, ea vel soleat viderer, ei mazim graece abhorreant mea. Mei id iracundia disputationi. Debitis moderatius mediocritatem sit ne, pri cu melius laoreet. Et aeque quando fastidii sea, his et eros vide accusamus, at molestie probatus vim. Ferri virtute est id, in est integre denique, an duo altera alienum.
      %h3 Available Media
      .languages-bar
        %ul.nav.nav-tabs
          %li.tabs-title Available languages:
          %li.active
            %a{:href => '#all-media', :'data-toggle' => 'tab'} All
          %li
            %a{:href => '#he-media', :'data-toggle' => 'tab'} HE
          %li
            %a{:href => '#en-media', :'data-toggle' => 'tab'} EN
          %li
            %a{:href => '#es-media', :'data-toggle' => 'tab'} ES
          %li
            %a{:href => '#jp-media', :'data-toggle' => 'tab'} JP
      .tab-content
        #he-media.tab-pane.active.fade.in
          %table.table.table-condensed.table-hover.table-bordered
            %thead
              %tr
                %th Date
                %th Container Name
                %th File Type
                %th Language
                %th Download
                %th Copy Link
            %tbody
              %tr
                %td 2012/11/29
                %td
                  %a
                    %i.icon-km-book
                    M. Laitman Blog - Audio version
                    M. Laitman Blog - Audio version
                %td
                  %i.icon-km-small-audio
                  mp3
                %td rus
                %td
                  %a
                    %i.icon-download
                %td
                  %a
                    %i.icon-circle-arrow-right
