.span3
  #sidebar
    %ul.nav.nav-list
      %li.clear-filters
        %button.btn.btn-block= t('ui.sidebar.clear_all_filters')
      %li.divider
    %ul.nav.nav-list
      %li.nav-header= t('ui.sidebar.filter_by_date')
      %li
        %a#dates_range(href='javascript:;')
          %i.icon-km-month
          %span.daterange!= search.dates_range_text
          %span.caret
          :javascript
            opens_dates_range = 'right';
            locale_dates_range = {
              applyLabel: '#{t('ui.sidebar.apply')}',
              clearLabel:'#{t('ui.sidebar.clear')}',
              fromLabel: '#{t('ui.sidebar.from')}',
              toLabel: '#{t('ui.sidebar.to')}',
              weekLabel: '#{t('ui.sidebar.week')}',
              customRangeLabel: '#{t('ui.sidebar.custom_range')}',
              daysOfWeek: #{t('ui.sidebar.abbr_day_names')},
              monthNames: #{t('ui.sidebar.month_names')},
              firstDay: #{t('ui.sidebar.first_day_of_week')}
            };
            open_dates_ranges = {
                '#{t('ui.sidebar.anytime')}': ['1000', '3000'],
                '#{t('ui.sidebar.today')}': ['#{0.days.ago.beginning_of_day}', '#{0.days.ago.end_of_day}'],
                '#{t('ui.sidebar.today')}': ['#{1.day.ago.beginning_of_day}', '#{1.day.ago.end_of_day}'],
                '#{t('ui.sidebar.last_7_days')}': ['#{7.days.ago.beginning_of_day}', '#{0.days.ago.end_of_day}'],
                '#{t('ui.sidebar.last_30_days')}': ['#{30.days.ago.beginning_of_day}', '#{0.days.ago.end_of_day}'],
                '#{t('ui.sidebar.this_month')}': ['#{0.days.ago.beginning_of_month}', '#{0.days.ago.end_of_month}'],
                '#{t('ui.sidebar.last_month')}': ['#{1.month.ago.beginning_of_month}', '#{1.month.ago.end_of_month}']
            };

      %li.divider
    %ul.nav.nav-list
      %li.nav-header= t('ui.sidebar.filter_by_content_type')
      != content_type('all', search.content_type)
      != content_type('lesson', search.content_type)
      != content_type('lecture', search.content_type)
      != content_type('program', search.content_type)
      != content_type('song', search.content_type)
      != content_type('clip', search.content_type)
      != content_type('book', search.content_type)
      != content_type('declamation', search.content_type)
      %li.divider
    %ul.nav.nav-list
      %li.nav-header= t('ui.sidebar.filter_by_media_type')
      != media_type('all', search.media_type)
      != media_type('audio', search.media_type)
      != media_type('video', search.media_type)
      != media_type('text', search.media_type)
      != media_type('image', search.media_type)
      %li.divider
    %ul.nav.nav-list
      %li.nav-header= t('ui.sidebar.filter_by_language')
      %li
        = select_tag :language_ids,
            options_for_select([[t('ui.sidebar.type.all'), 'all']] + Language.order(:language).all.map{|l| ["#{l.language} (#{l.locale})", l.code3]}, selected: search.language),
            include_blank: false


