.item
  .padding-both
    %h3
      Other updates
      %small.pull-right
        Display
        = link_to '25', {controller: :ui, action: :homepage, amount_of_updated: 25}, class: is_active_pager(params[:amount_of_updated] || 25, 25)
        \/
        = link_to '50', {controller: :ui, action: :homepage, amount_of_updated: 50}, class: is_active_pager(params[:amount_of_updated], 50)
        \/
        = link_to '100', {controller: :ui, action: :homepage, amount_of_updated: 100}, class: is_active_pager(params[:amount_of_updated], 100)
        items
    .languages-bar
      %ul.nav.nav-tabs
        %li.tabs-title Available languages:
        %li.active
          %a{:href => "#all-media", :'data-toggle' => 'tab'} All
        - updated_languages.each do |l|
          %li
            %a{:href => "##{l}-media", :'data-toggle' => 'tab'}= l.upcase
    .tab-content
      #all-media.active.tab-pane.fade.in
        %table.media-table.table.table-striped.table-hover.table-bordered
          %thead
            %tr
              %th Date
              %th Container Name
              %th Type
              %th Language
              %th Download
              %th Copy<br/>Link
              %th Size
              %th Time
          %tbody
            = list_items_all(nil, updated_assets)
      - updated_languages.each do |l|
        .tab-pane.fade.in{:id => "#{l}-media"}
          %table.media-table.table.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th Date
                %th Container Name
                %th File Type
                %th Language
                %th Download
                %th Copy<br/>Link
                %th Size
                %th Time
            %tbody
              = list_items_lang(nil, l, updated_assets)