.row.show-grid
  = render 'sidebar', search: @search, active_content_type: @active_content_type, active_media_type: @active_media_type, active_language: @active_language
  #content.span9
    = render 'list_header', selected_catalogs: @selected_catalogs, boost_tree: @boost_tree
    = render 'tags_cloud'
    = render 'last_lesson', lesson_name: @lesson_name, prev_lesson: @prev_lesson, next_lesson: @next_lesson,
     available_languages: @available_last_lessons_languages, active_tab: @active_tab, last_lessons: @last_lessons
    = render 'updated_assets', updated_assets: @updated_assets, updated_languages: @available_updated_assets_languages