.full-screen
  .row-fluid.main-layout
    = render 'sidebar', search: @search
    #content.span9
      = render 'common/topbanner'
      = render 'list_header', selected_catalogs: @selected_catalogs, boost_tree: @boost_tree
      = render 'tags_cloud'
      = render 'last_lesson', lesson_name: @lesson_name, prev_lesson: @prev_lesson, next_lesson: @next_lesson, available_languages: @available_last_lessons_languages, active_tab: @active_tab, last_lessons: @last_lessons
      - unless @new_materials.blank?
        = render 'new_materials', new_materials: @new_materials
      - unless @updated_assets.blank?
        = render 'updated_assets', updated_assets: @updated_assets, updated_languages: @available_updated_assets_languages
      