.row-fluid.main-layout
  = render 'sidebar', search: @search
  - description = lesson_description(@item)
  #content.span9
    = render 'common/topbanner'
    .item
      .padding-both
        %h3
          != type_of_item_text(@item, ':')
          = lesson_title(@item, description)
          (
          = creation_date(@item)
          )
        .description= description
        .languages-bar
          %ul.nav.nav-tabs
            %li.tabs-title= t('ui.updated_assets.available_languages')
            %li{:class => @available_languages.include?(@locale) ? '' : 'active'}
              %a{:href => "#all-media", :'data-toggle' => 'tab'}= t('ui.updated_assets.all')
            - @available_languages.each do |l|
              %li{:class => l == @locale ? 'active' : ''}
                %a{:href => "##{l}-media", :'data-toggle' => 'tab'}= l.upcase
        .tab-content
          #all-media.tab-pane.fade.in{:class => @available_languages.include?(@locale) ? '' : 'active'}
            %table.media-table.table.table-striped.table-hover.table-bordered
              %thead
                %tr
                  %th.left-aligned-column= t('ui.updated_assets.date')
                  %th.left-aligned-column= t('ui.updated_assets.container_name')
                  %th= t('ui.updated_assets.type')
                  %th= t('ui.updated_assets.language')
                  %th= t('ui.updated_assets.download')
                  %th!= t('ui.updated_assets.copy_link')
                  %th= t('ui.updated_assets.size')
                  %th= t('ui.updated_assets.time')
              %tbody
                = list_items_all(@item)

          - @available_languages.each do |l|
            .tab-pane.fade.in{:id => "#{l}-media", :class => l == @locale ? 'active' : ''}
              %table.media-table.table.table-striped.table-hover.table-bordered
                %thead
                  %tr
                    %th.left-aligned-column= t('ui.updated_assets.date')
                    %th.left-aligned-column= t('ui.updated_assets.container_name')
                    %th= t('ui.updated_assets.type')
                    %th= t('ui.updated_assets.language')
                    %th= t('ui.updated_assets.download')
                    %th!= t('ui.updated_assets.copy_link')
                    %th= t('ui.updated_assets.size')
                    %th= t('ui.updated_assets.time')
                %tbody
                  = list_items_lang(@item, l)

