.row.show-grid
  = render :partial => 'sidebar'
  - description = lesson_description(@item)
  #content.span9
    .item
      .padding-both
        %h3
          != type_of_item_text(@item)
          \:
          = lesson_title(@item, description)
          (
          = creation_date(@item)
          )
        .description= description
        .languages-bar
          %ul.nav.nav-tabs
            %li.tabs-title Available languages:
            %li.active
              %a{:href => "#all-media", :'data-toggle' => 'tab'} All
            - @available_languages.each do |l|
              %li
                %a{:href => "##{l}-media", :'data-toggle' => 'tab'}= l.upcase
        .tab-content
          #all-media.active.tab-pane.fade.in
            %table.media-table.table.table-striped.table-hover.table-bordered
              %thead
                %tr
                  %th.left-aligned-column Date
                  %th.left-aligned-column Container Name
                  %th File Type
                  %th Language
                  %th Download
                  %th Copy<br/>Link
                  %th File Size
                  %th Play Time
              %tbody
                = list_items_all(@item)

          - @available_languages.each do |l|
            .tab-pane.fade.in{:id => "#{l}-media"}
              %table.media-table.table.table-striped.table-hover.table-bordered
                %thead
                  %tr
                    %th.left-aligned-column Date
                    %th.left-aligned-column Container Name
                    %th File Type
                    %th Language
                    %th Download
                    %th Copy<br/>Link
                    %th File Size
                    %th Play Time
                %tbody
                  = list_items_lang(@item, l)

