= simple_form_for @search, :html => {:class => 'bp', :method => :get} do |f|
  = f.input :search, :label => false
  = f.submit :Search, :disable_with => 'Please wait...'
- count = 0
%table
  - @results.each_hit_with_result do |hit, result|
    - count += 1
    - klass = result.class
    %tr(class="#{cycle('odd', 'even')}")
      - case
      - when klass == Asset
        - asset = result
        %td= asset.fileid
        %td= link_to 'Asset', admin_asset_path(asset)
        %td= "#{asset.filename} (#{asset.filesize})"
      - when klass == Lesson
        - lesson = result
        %td= lesson.lessonid
        %td= link_to 'Container', admin_lesson_path(lesson)
        %td= lesson.lessonname
      - when klass == LessondescPattern
        - pattern = result
        %td= pattern.id
        %td= link_to 'Containers\' pattern', admin_lessondesc_pattern_path(pattern)
        %td
          = pattern.pattern
          (
          = pattern.lang
          )(
          = pattern.description
          )
      - when klass == LessonDescription
        - lesson_description = result
        %td= lesson_description.lessondescid
        %td
          - if lesson_description.lesson
            = link_to 'Lesson_Description', admin_lesson_path(lesson_description.lesson.id)
          - else
            Lesson Description
        %td
          = lesson_description.lessondesc
          (
          = lesson_description.lang
          )
      - when klass == CatalogDescription
        - catalog_description = result
        %td= catalog_description.catnodedescid
        %td
          - if catalog_description.catalog
            = link_to 'Catalog Description', admin_catalog_path(catalog_description.catalog.id)
          - else
            Catalog Description
        %td
          = catalog_description.catalognodename
          (
          = catalog_description.lang
          )
      - when klass == Catalog
        - catalog = result
        %td= result.catalognodeid
        %td= link_to klass, admin_catalog_path(catalog)
        %td
          - if catalog.parent
            %span.small
              = catalog.parent.catalognodename.gsub(/\//, ' / ')
              (
              = catalog.parentnodeid
              ) /
          %span.bold
            = catalog.catalognodename.gsub(/\//, ' / ')
            %span.small
              (
              = catalog.catalognodeid
              )
      - else
        %td(colspan=3)= "Unknown: #{klass}"

%br
= count