= simple_form_for @search, :html => {:method => :get} do |f|
  = f.input :query_string, :label => false, :placeholder => 'Enter parts of keywords to search for...'
  -#= f.submit :Reset
  = f.submit :Search, :disable_with => 'Please wait...'
  %br
  = f.input :language_ids, :collection => languages_to_list, :as => :check_boxes, :label => 'Language: '
  %br
  = f.input :container_type_ids, :collection => content_types_to_list, :as => :check_boxes, :label => 'Content type: '
  %br
  = f.input :file_type_ids, :collection => file_type_ids_to_list, :as => :check_boxes, :label => 'File type: '
  %br
  = f.input :catalog_id, :label => 'Catalog ID: '
  %br
  = f.input :date_from, :label => 'From: ' #, :as => :date, :order => [:day, :month, :year]
  = f.input :date_to, :label => 'To: ' #, :as => :date, :order => [:day, :month, :year]

.clear
- if !@results || @results.results.empty?
  No results
- else
  %h4.clear== Results #{(@results.results.current_page - 1) * @results.results.limit_value + 1} - #{[@results.results.current_page * @results.results.limit_value, @results.total].min} of #{@results.total}
  = paginate @results.hits, :window => 8

  - @results.each_hit_with_result do |hit, result|
    .result
      = result.lessonid
      = result.container_type.name
      = result.assets.select('distinct filetype').map(&:filetype).join(' ')
      %br
      = result.lesson_descriptions.by_language(@language).first.try(:lessondesc) || result.lesson_descriptions.by_language('ENG').first.try(:lessondesc) || result.lessonname
      %br
      = result.lesson_descriptions.by_language(@language).first.try(:descr)
