<% title "New Search" %>

<%= form_for @search do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </p>
  <p><%= f.submit 'Submit', :disable_with => 'Please wait...' %></p>
<% end %>


