%header.subhead#overview
  %h2 Dictionaries
  -if can?(:create, Dictionary)
    %p
      = link_to "New Dictionary", new_admin_dictionary_path, :class => 'btn btn-success btn-large pull-right'

%section
  = paginate @dictionaries

  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Topic
        = display_actions_title(Dictionary)
    %tbody
      - @dictionaries.each do |dictionary|
        %tr
          %td= dictionary.to_s
          -if can?(:read, dictionary)
            %td
              = link_to 'Show', admin_dictionary_path(dictionary)
          -if can?(:update, dictionary) || can?(:edit_descriptions, dictionary)
            %td
              = link_to 'Edit', edit_admin_dictionary_path(dictionary)
          -if can?(:destroy, dictionary)
            %td
              = link_to 'Destroy', admin_dictionary_path(dictionary), :confirm => 'Are you sure?', :method => :delete, :class => 'btn-small btn-danger'