%header.subhead#overview
  %h2 Dictionaries
  %p
    = link_to_if can?(:create, Dictionary), "New Dictionary", new_admin_dictionary_path, :class => 'btn btn-success btn-large pull-right'

%section
  = paginate @dictionaries

  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Topic
        %th(colspan="3") Actions
    %tbody
      - @dictionaries.each do |dictionary|
        %tr
          %td= dictionary.display_name
          %td= link_to 'Show', admin_dictionary_path(dictionary)
          %td
            = link_to_if can?(:update, dictionary) || can?(:edit_descriptions, dictionary), 'Edit', edit_admin_dictionary_path(dictionary) do
              .unable Edit
          %td
            = link_to_if can?(:destroy, dictionary), 'Destroy', admin_dictionary_path(dictionary), :confirm => 'Are you sure?', :method => :delete, :class => 'btn-small btn-danger' do
              .unable Destroy