- disabled = cannot? :edit_all_lesson_fields, @container

= simple_form_for ['admin', @container] do |f|
  = display_actions_with_mark f, admin_containers_url

  %hr.soften
  = display_errors f
  .row
    .span6.rborder
      = f.input :name, label: 'Name', disabled: disabled, input_html: {class: 'span5'}
      = f.input :content_type_id, collection: @content_types, label: 'Type', disabled: disabled, prompt: '-- Please select container type --', input_html: {class: 'span5'}
      = f.input :v_containerdate, label: 'Date', disabled: disabled, order: [:day, :month, :year], input_html: {class: 'span2'}
      = f.input :lang, collection: @languages, value_method: :code3, label_method: :to_s, label: 'Language', prompt: '-- Please select language --', disabled: disabled
      = f.input :id, collection: @lecturers, value_method: :id, label_method: :name, label: 'Lecturer', prompt: '-- Please select lecturer --', disabled: disabled
      = f.input :secure, collection:  @security, prompt: nil, label: 'Security Level', disabled: disabled
      - if can?(:special_admin_features, @container)
        = f.input :secure_changed, as: :boolean, label: 'Security Level changed'
    .span6
      .rss.pull-right
        = f.input :rss, as: :boolean, disabled: disabled
      .list.clear
        - if disabled
          %p.input.string.optional
            %label(for="lesson_catalog_tokens" class="string optional") Catalogs
            %ul.token-input-list
              - @container.catalogs.each do |c|
                %li.token-input-token
                  %p=c.name
        - else
          = f.input :catalog_tokens, label: 'Catalogs', input_html: {:'data-pre' => @container.catalogs.map{|c| {id: c.id, name: c.name}}.to_json}
      .list.clear
        - if disabled
          %p.input.string.optional
            %label(for="lesson_label_tokens" class="string optional") Labels
            %ul.token-input-list
              - @container.labels.each do |lbl|
                %li.token-input-token
                  %p=lbl.display_name
        - else
          = f.input :label_tokens, label: 'Labels', input_html: {:'data-pre' => @container.labels.map{|lbl| {id: lbl.id, name: lbl.display_name}}.to_json}

  %hr.soften
  = display_descriptions f, @container_descriptions, 'container_descriptions', 'container_desc'
  %hr.soften
  = display_actions_with_mark f, admin_containers_url

:javascript
  var rss_catalog = {id: #{@rss.id}, name: '#{@rss.name}' };
