- disabled = cannot? :edit_all_container_fields, @container
= simple_form_for ['admin', @container], :url => url_for(:action => 'update_transcript') do |f|
  = display_actions f, admin_containers_url
  %hr.soften
  = display_errors f
  = display_transcripts f, @container_transcripts, 'container_transcripts', 'transcript'
  %hr.soften
  = display_actions f, admin_containers_url
