- disabled = cannot? :edit_all_container_fields, @container
= simple_form_for ['admin', @container], :url => url_for(:action => 'update_long_descr') do |f|
  = display_actions f, admin_containers_url
  %hr.soften
  = display_errors f
  = display_descriptions f, @container_descriptions, 'container_descriptions', 'descr'
  %hr.soften
  = display_actions f, admin_containers_url
