%h3
  = @user == @current_user ? "Your Account Settings" : "Edit User"

= simple_form_for([:admin, @user], :html => { :method => :put, :class => 'bp' }) do |f|
  = devise_error_messages!(@user, 'user')
  = render :partial => 'user_fields', :locals => { :f => f }
  = f.input :password, :hint => "(leave blank if you don't want to change it)", :required => false
  = f.input :password_confirmation
  = f.input :current_password, :hint => "(we need your current password to confirm your changes)"
  = f.button :submit
%br
%p
  = link_to "Back", :back
