%header.subhead#overview
  %h2= @user == @current_user ? "Your Account Settings" : "Edit User"

%section
  = simple_form_for([:admin, @user], :html => { :method => :put }) do |f|
    = display_actions f, admin_users_url
    %hr.soften
    = display_errors f
    -#= devise_error_messages!(@user, 'user')

    = render 'user_fields', :f => f
    = f.hidden_field :reset_password_token
    = f.input :password, :hint => "(leave blank if you don't want to change it)", :required => false, :input_html => {:autocomplete => 'off'}
    = f.input :password_confirmation, :input_html => {:autocomplete => 'off'}
    - unless current_user.role?(:super_admin)
      = f.input :current_password, :hint => "(we need your current password to confirm your changes)"

    %hr.soften
    = display_actions f, admin_users_url