<h3>List of users</h3>
<table>
	<tr>
      <td>Show</td>
      <td>Email</td>
      <td>Roles</td>
      <td>Edit</td>
      <td>Delete</td>
	</tr>
	<% @users.each do |u| %>
	<tr>
		<td><%= link_to_if(can?(:read, User), "#{u.email}", admin_user_path(u.id)) {} %></td>
		<td><%= "#{u.email}" %></td>
		<td><%= u.roles.collect{|r| r.name}.join(', ') %></td>
		<td><%= link_to_if(can?(:edit, User), image_tag("/images/edit_icon.gif"), edit_admin_user_path(u.id)) {} %></td>
		<td><%= link_to_if(can?(:delete, u), image_tag("/images/delete_icon.gif"), admin_user_path(u), :confirm => "Are you sure?", :method => :delete) {} %></td>
	</tr>
	<% end %>
</table>

