%h2 Register User
 
= simple_form_for(['admin', @user], :html => {:class => 'bp'}) do |f|
  = devise_error_messages!(@user, 'user')
  = render :partial => 'user_fields', :locals => { :f => f }
  = f.input :password, :input_html => {:autocomplete => 'off'}
  = f.input :password_confirmation, :input_html => {:autocomplete => 'off'}
  = f.button :submit
