%header.subhead#overview
  %h2 Register User
 
%section
  = simple_form_for([:admin, @user]) do |f|
    = display_actions f, admin_users_url
    %hr.soften
    = display_errors f
    -#= devise_error_messages!(@user, 'user')

    = render :partial => 'user_fields', :locals => { :f => f }

    = f.input :password, :hint => "(leave blank if you don't want to change it)", :required => false, :input_html => {:autocomplete => 'off'}
    = f.input :password_confirmation, :input_html => {:autocomplete => 'off'}

    %hr.soften
    = display_actions f, admin_users_url