<h2>Register User</h2>
 
<%= simple_form_for(['admin', @user], :html => {:class => 'bp'}) do |f| %>
    <%= devise_error_messages!(@user, 'user') %>

	<%= render :partial => 'user_fields', :locals => { :f => f } %>

	<p><%= f.label :password %></p>
	<p><%= f.password_field :password %></p>

	<p><%= f.label :password_confirmation %></p>
	<p><%= f.password_field :password_confirmation %></p>

	<p><%= f.submit "Register" %></p>
<% end %>
