- title 'Edit User'

= link_to_if can?(:update, @user), "Edit", edit_admin_user_path(@user) do
  .unable Edit
|
= link_to_if can?(:delete, @user), "Delete", admin_user_path(@user), :confirm => "Are you sure?", :method => :delete do
  .unable Delete
%table.admin_table.bp
  %tr
    %th ID
    %th Name
    %th Email
    %th Roles
    %th Created At
    %th Last Sign In
    %th Sign In Count
  %tr(class="#{cycle('odd', 'even')}")
    %td= @user.id
    %td= "#{@user.first_name} #{@user.last_name}"
    %td= @user.email
    %td.small= @user.roles.collect{|r| r.name}.join(', ')
    %td= @user.created_at
    %td= @user.last_sign_in_at
    %td= @user.sign_in_count
