.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to (image_tag 'logo.png', alt: 'Kabbalah Media'), root_url(), class: :brand
      %ul.nav
        %li.active
          = link_to 'Home', root_path
        %li
          %a{:href => '#'} Link
        %li
          %a{:href => '#'} Link
      = simple_form_for [@search || Search.new], :url => ui_index_path, :html => {:class => 'navbar-form', :method => :get} do |f|
        = f.input :query_string, :label => false, :placeholder => t('navbar.search'), :input_html => {:style => 'width: 130px;', :text => t('navbar.search')}, :wrapper => 'bootstrap_top_search'
        = f.input :content_type_id, as: :hidden, :wrapper => 'default'
        = f.input :media_type_id, as: :hidden, :wrapper => 'default'
        = f.input :date_type, as: :hidden, :wrapper => 'default'
        = f.input :dates_range, as: :hidden, :wrapper => 'default'
        = f.input :language_ids, as: :hidden, :wrapper => 'default'
        = f.input :catalog_ids, as: :hidden, :wrapper => 'default'
      = select_tag 'languages', options_for_select(@menu_languages, selected: @current_menu_language, disabled: @hebrew_menu_language), class: 'languages'