.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      - if current_user
        - user = "<span class='brand-user'>#{current_user.email}(#{current_user.roles.collect{|r| r.name}.join(', ').truncate(40)})</span>".html_safe
      - else
        - user = ''
      =link_to "KMedia Admin <br/>#{user}".html_safe, '#', :class => 'brand'
      = link_to_if current_user, 'Logout', destroy_user_session_path, :class => 'brand logout'

      - if current_user
        = simple_form_for [:admin, @search || Search.new], :html => {:class => 'navbar-form pull-right', :method => :get} do |f|
          = f.input :query_string, :label => false, :placeholder => 'Search', :input_html => {:class => 'span5', :text => 'Search'}, :wrapper => 'bootstrap_top_search'
          = f.input :model, :label => false, :collection => Search.models, :prompt => false, :input_html => {:class => 'search-query span2'}
        %ul.nav{:class => 'pull-left span5'}
          - if can?(:edit_descriptions, Lesson)
            %li
              = link_to 'Containers', admin_lessons_path
          - if can?(:update, User)
            %li
              = link_to 'Users', admin_users_path
          - if can?(:read, Catalog)
            %li
              = link_to 'Catalogs', admin_catalogs_path
          - if can?(:update, LessondescPattern) || can?(:update, Department) || can?(:update, Dictionary)
            %li.dropdown#menu1
              %a.dropdown-toggle{:href => "#menu1", :"data-toggle" => "dropdown"}
                Other
                %b.caret
              %ul.dropdown-menu
                - if can?(:update, LessondescPattern)
                  %li
                    = link_to "Containers' patterns", admin_lessondesc_patterns_path
                - if can?(:update, Comment)
                  %li
                    = link_to "Comments", admin_comments_path
                - if can?(:update, Department)
                  %li
                    = link_to 'Departments', admin_departments_path
                - if can?(:update, Dictionary)
                  %li
                    = link_to 'Dictionaries', admin_dictionaries_path
                - if can?(:update, Catalog)
                  %li
                    = link_to "Selected catalogs", admin_selected_catalogs_path
                - if can?(:update, Catalog)
                  %li
                    = link_to "Manage catalogs", manage_admin_catalogs_path
                - if can?(:update, VirtualLesson)
                  %li
                    = link_to "Virtual lessons", admin_virtual_lessons_path



