!!! 5
%html
  %head

    %title
      = content_for?(:title) ? yield(:title) : 'Kabbalah Media'
    %meta{'charset' => 'utf-8'}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    %meta(name="description" content="")
    %meta(name="author" content="")

    = stylesheet_link_tag 'user'
    = csrf_meta_tag
    = yield(:head)

    = javascript_include_tag 'modernizr.custom'

    -#<link rel="shortcut icon" href="../../docs/assets/ico/favicon.ico">
    -#<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../docs/assets/ico/apple-touch-icon-144-precomposed.png">
    -#<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../docs/assets/ico/apple-touch-icon-114-precomposed.png">
    -#<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../docs/assets/ico/apple-touch-icon-72-precomposed.png">
    -#<link rel="apple-touch-icon-precomposed" href="../../docs/assets/ico/apple-touch-icon-57-precomposed.png">

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-11335066-14', 'kbb1.com');
      ga('send', 'pageview', {
        'page': '#{request.path}'
      });

  - klass = "#{@locale} #{@locale == 'he' || @locale == 'ar' ? 'rtl' : ''}"
  %body{:class => klass}
    = render 'common/navbar'
    .container-fluid.content-wrapper
      = yield

    :javascript
      var zclip_list = new Array;
      var anytime = '#{t('ui.sidebar.anytime')}';
      var projekktor_messages = {
          // general
          0: '#{I18n.t('ui.projekktor.message_0')}',
          1: '#{I18n.t('ui.projekktor.message_1')}',
          2: '#{I18n.t('ui.projekktor.message_2')}',
          3: '#{I18n.t('ui.projekktor.message_3')}',
          4: '#{I18n.t('ui.projekktor.message_4')}',
          5: 'Sorry, your browser does not support the media format of the requested file.',
          6: 'Your client is in lack of the Flash Plugin V%{flashver} or higher.',
          7: 'No media scheduled.',
          8: '! Invalid media model configured !',
          9: 'File (%{file}) not found.',
          10: 'Invalid or missing quality settings for %{title}.',
          11: 'Invalid streamType and/or streamServer settings for %{title}.',
          12: 'Invalid or inconsistent quality setup for %{title}.',
          80: 'The requested file does not exist or delivered with an invalid content-type.',
          97: 'No media scheduled.',
          98: 'Invalid or malformed playlist data!',
          99: 'Click display to proceed. ',
          100: 'PLACEHOLDER',
          // Youtube errors
          500: 'This Youtube video has been removed or set to private',
          501: 'The Youtube user owning this video disabled embedding.',
          502: 'Invalid Youtube Video-Id specified.'
      };

    /[if lt IE 9]
      = javascript_include_tag 'jquery-1.9.1.min'
    !=surround '<!--[if gte IE 9]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
      = javascript_include_tag 'jquery-2.0.0.min'
    = javascript_include_tag 'user', async: true

    :javascript
      opens_dates_range = $('body').hasClass('rtl') ? 'left' : 'right';
      locale_dates_range = {
        applyLabel: '#{t('ui.sidebar.apply')}',
        clearLabel:'#{t('ui.sidebar.clear')}',
        fromLabel: '#{t('ui.sidebar.from')}',
        toLabel: '#{t('ui.sidebar.to')}',
        weekLabel: '#{t('ui.sidebar.week')}',
        customRangeLabel: '#{t('ui.sidebar.custom_range')}',
        daysOfWeek: #{t('ui.sidebar.abbr_day_names')},
        monthNames: #{t('ui.sidebar.month_names')},
        firstDay: #{t('ui.sidebar.first_day_of_week')}
      };
      open_dates_ranges = {
          '#{t('ui.sidebar.anytime')}': ['1000', '3000'],
          '#{t('ui.sidebar.today')}': ['#{0.days.ago.beginning_of_day}', '#{0.days.ago.end_of_day}'],
          '#{t('ui.sidebar.today')}': ['#{1.day.ago.beginning_of_day}', '#{1.day.ago.end_of_day}'],
          '#{t('ui.sidebar.last_7_days')}': ['#{7.days.ago.beginning_of_day}', '#{0.days.ago.end_of_day}'],
          '#{t('ui.sidebar.last_30_days')}': ['#{30.days.ago.beginning_of_day}', '#{0.days.ago.end_of_day}'],
          '#{t('ui.sidebar.this_month')}': ['#{0.days.ago.beginning_of_month}', '#{0.days.ago.end_of_month}'],
          '#{t('ui.sidebar.last_month')}': ['#{1.month.ago.beginning_of_month}', '#{1.month.ago.end_of_month}']
      };

