!!! 5
%html
  %head
    %title
      = yield(:title) || "Kabbala Media"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'user'
    = csrf_meta_tag
    = yield(:head)
    = javascript_include_tag 'jquery', 'modernizr.custom.42357'
  %body(data-spy="scroll" data-target=".subnav" data-offset="50" data-rendering="true")
    = render 'layouts/navigation'
    .container
      - flash.each do |name, msg|
        - klass = (name.to_s == 'error' || name.to_s == 'alert') ? 'alert fade in alert-error' : 'alert fade in alert-info'
        = content_tag :div, "<a class='close' data-dismiss='alert' href='#'>&times;</a>#{msg}".html_safe, :class => klass
      = yield

    = javascript_include_tag 'user'
